@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body, html {
  height: 100%;
  margin: 0
}

.hero_img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("resources/dog1.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

.hero_txt {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.top_margin {
  background-image: url(resources/background.jpg);
}

.icon {
  font-family: 'poiret One', cursive;
  border: 1px solid gray;
  display: inline-block;
  padding: 5px;
  margin: 1%;
  background: burlywood;
  font-weight:bold;
  color:black;
}

#grid {
  margin: 3.5% 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.subgrid {
  margin: 0 8%;
  padding:2%;
  border: 1px solid gray;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 170%;
  background-color: burlywood;
}
ul {
  list-style: none;
  font-weight: bold;
}

ul li:before {
  content: '^';
  color:green;
}
.p_image {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:9em;
  height: 9em"
}
.hero_img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("resources/dog5.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

.hero_txt2 {
  font-family: 'poiret One', cursive;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
